body {
    background-color: #1f2128;
}

body {
    margin: 0; 
    padding: 0; 
    font-family: "Inter", sans-serif;
    color: white;
    background-image: url(/src/images/Headerbg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
  }

  .weather-row{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
     padding: 0% 10%;
  }
  

