body {
    background-color: #1f2128;
}

body {
    margin: 0; 
    padding: 0; 
    font-family: "Inter", sans-serif;
    color: white;
    background-image: url(/src/images/Headerbg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
  }

  .weather-row {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .head_p {
    color: white;
    font-size: 30px;
    position: relative;
    top: 20px;

  }

  .head_icon {
    font-size: 30px;
  }

  .search-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
   
  }
